{% extends "base.html" %}
{% from 'common.html' import api_nav %}
{% from 'common.html' import input as input %}

{% block extra_css %}
		<!-- login.html css -->
		<link rel="stylesheet" href="/static/dist/css/forms.css" />
{% endblock %}

{% block content %}

<article>
	
	{{ api_nav(g) }}


	<h1> <a href="/ui/api/v1/object/{{ g.type_obj.url }}">{{ g.title }}</a></h1>


	
	<table class="tablelist">
		{% if g.objects %}
		<tr><td colspan="2"><h2>Set values</h2></td></tr>
		{% for obj in g.objects %}
			<tr>
				<td>
					<a href="/ui/api/v1/object/{{ obj[0].url }}">
					{{ obj[0].type_name}}/{{ obj[0].value }} 
					</a>
				</td>
				<td>
					{{ ", ".join(obj[1]) }}
				</td>
			</tr>
		{% endfor %}	
	    {% endif %}	
	</table>	

</article>

{% endblock %}

{% block inpage_menu %}

<li> <a href="{{ g.back_link }}">Back</a>

{% endblock %}
