{% extends "base.html" %}
{% from 'common.html' import input as input %}

{% block content %}

<article>
	<h1> {{ g.title }}</h1>

	<p>
		<table class="tablelist">
			{% for obj in g.objects %}
				<tr>
					<td>
						 {{ obj.handle}}
					</td>
					<td>
						<a href="/ui/api/v1/object/{{ obj.handle }}">{{obj.name}}</a>
					</td>
				</tr>
			{% endfor %}
		</table>
	</p>

	<form method="POST" >
	<h4> Create new Object Type</h4>
	{{ input(form.type_handle,5) }}
	{{ input(form.type_name,5) }}
	{{ input(form.type_description,5) }}
	{{ form.submit }}
	{{ form.csrf_token }}
	</form>	

</article>

{% endblock %}
