{% extends "base.html" %}
{% from 'common.html' import api_nav %}

{% block content %}

<article>
	
	{{ api_nav(g) }}


	<h1> {{ g.title }}</h1>
	<p>
		{{ g.obj.url }}
	</p>

	<table class="tablelist">
		{% for obj in g.properties %}
			<tr>
				<td>
					{{ obj.object_type_name}}
				</td>
				<td>
					<a href="/ui/api/v1/object/{{ obj.url }}">
						{{ obj.value }}
					</a>
				</td>
			</tr>
		{% endfor %}
	</table>

</article>

{% endblock %}

{% block inpage_menu %}

<li> <a href="{{ g.back_link }}">Back</a>

{% endblock %}
