{% extends "base.html" %}
{% from 'common.html' import api_nav %}
{% from 'common.html' import input as input %}

{% block extra_css %}
		<!-- login.html css -->
		<link rel="stylesheet" href="/static/dist/css/forms.css" />
{% endblock %}

{% block content %}

<article>
	
	{{ api_nav(g) }}


	<h1> <a href="/ui/api/v1/object/{{ g.obj.url }}">{{ g.title }}</a></h1>
	<p>
		{{ g.obj.url }}
	</p>

	<table class="tablelist">
		{% for obj in g.properties %}
			<tr>
				<td>
					{{ obj.object_type_name}}
				</td>
				<td>
					<a href="/ui/api/v1/object/{{ obj.url }}">
						{{ obj.value }}
					</a>
				</td>
			</tr>
		{% endfor %}
	</table>

	{% if g.form == 'form1' %}
	<form method="POST" action="?load_form=form2" >
	<h4> Add object as property</h4>
	{{ input(form.object_type_handle,5) }}		
	{{ form.submit1 }}
	{{ form.csrf_token }}
	</form>	
	{% endif %}

	{% if g.form == 'form2' %}
	<form method="POST" action="?load_form=form2" >
	<h4> Add object as property</h4>
	{{ input(form.object_type_handle(readonly=true),5) }}
	{{ input(form.object_instance_handle,5) }}	
	{{ form.submit2 }}
	{{ form.csrf_token }}
	</form>	
	{% endif %}	

</article>

{% endblock %}

{% block inpage_menu %}

<li> <a href="{{ g.back_link }}">Back</a>

{% endblock %}
