{% extends "base.html" %}
{% from 'common.html' import api_nav %}
{% from 'common.html' import input as input %}

{% block extra_css %}
		<!-- login.html css -->
		<link rel="stylesheet" href="/static/dist/css/forms.css" />
{% endblock %}

{% block content %}

<article>
	
	{{ api_nav(g) }}


	<h1> <a href="/ui/api/v1/object/{{ g.obj.url }}">{{ g.title }}</a></h1>

	<div>
		{% if g.form == 'choose_type' %}
		<form method="POST" class="flat">
		<h4> Add property</h4>
		{{ input(form.type_handle,5,True) }}		
		{{ form.submit1 }}
		{{ form.csrf_token }}
		<div style="clear:both"></div>
		</form>	
		{% endif %}

		{% if g.form == 'choose_object' %}
		<form method="POST" class="flat">
		<h4> Add property: choose object</h4>
		{{ input(form.object_handle,5,True) }}	
		{{ input(form.type_handle(readonly=true),5) }}
		{{ form.submit2 }}
		{{ form.csrf_token }}
		<div style="clear:both"></div>
		</form>	
		{% endif %}	

		{% if g.form == 'choose_value' %}
		<form method="POST" class="flat">
		<h4> Add property: choose value</h4>
		{{ input(form.type_handle(readonly=true),5) }}
		{{ input(form.value,5,True) }}	
		{{ form.submit3 }}
		{{ form.csrf_token }}
		<div style="clear:both"></div>
		</form>	
		{% endif %}	
	</div>
	
	<table class="tablelist">
		<tr><td colspan="2"><h2>Properties</h2></td></tr>
		{% for obj in g.obj.properties %}
			<tr>
				<td>
					{{ obj.type_name}}
				</td>
				<td>
					<a href="/ui/api/v1/object/{{ obj.url }}">
						{{ obj.value }}
					</a>
				</td>
			</tr>
		{% endfor %}

		{% if g.obj.udvs %}
		<tr><td colspan="2"><h2>Values</h2></td></tr>
		{% for obj in g.obj.udvs %}
			<tr>
				<td>
					<a href="/ui/api/v1/value_type/{{ obj[0].handle }}">
						{{ obj[0].name}}
					</a>
				</td>
				<td>
					{{ obj[1] }} <span style="color:gray">{{ obj[0].unit }}</span>
				</td>
			</tr>
		{% endfor %}
		{% endif %}
		{% if g.members %}
		<tr><td colspan="2"><h2>Members</h2></td></tr>
		{% for obj in g.members %}
			<tr>
				<td>
					{{ obj.type_name}}
					
				</td>
				<td>
					<a href="/ui/api/v1/object/{{ obj.url }}">
						{{ obj.value }}
					</a>
				</td>
			</tr>
		{% endfor %}	
	    {% endif %}	
	</table>	

</article>

{% endblock %}

{% block inpage_menu %}

<li> <a href="{{ g.back_link }}">Back</a>

{% endblock %}
