{% extends "base.html" %}
{% from 'common.html' import input as input %}

{% block content %}

<article>
	<h1> {{ g.title }}</h1>

	<p>
		<table class="tablelist">
			{% for obj in g.objects %}
				<tr>
					<td class="bullet">
						 {{ obj.handle}}
					</td>
					<td>
						<a href="/ui/api/v1/{{ obj.url }}">{{obj.name}}</a>
					</td>
				</tr>
			{% endfor %}
		</table>
	</p>

	<form method="POST" >
	<h4> Create new Object Type</h4>
	{{ input(form.class_handle,5) }}
	{{ input(form.class_name,5) }}
	{{ input(form.class_description,5) }}
	{{ form.submit }}
	{{ form.csrf_token }}
	</form>	

</article>

{% endblock %}
