{% extends "base.html" %}

{% block content %}
<article>
	<h1> {{ g.title }}</h1>
	<p>
		The date is {{ g.date }}.
	<p>
		<a href="/ui/class/">Go to Navigator</a>
	</p>
	<form id="reset_db_form" action="/reset_database" method="GET">
		<input class="red-button" id="reset_db" style="margin-top:50px" type="submit" value="Reset Database" />
	</form>
	<form action="/show_input" method="GET" style="margin-top:-1rem">
		<input class="red-button" style="background-color:blue"  type="submit" value="View Input Definition" />
	</form>	
</article>

<script>
	reset_db = document.getElementById("reset_db");

	reset_db.onclick = function() 
	{
		document.body.innerHTML += '<div class="pagelock">Loading...</div>';
		document.getElementById("reset_db_form").submit();
	}
</script>
{% endblock %}